.menu {
    background: white;
    max-width: 350px;
    margin-right: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    height: auto !important;
}

.detailsWrapper {
    flex: 1;
    overflow-y: auto;
}